<% content_for :sidebar do %>
<% end %>

<div id="content" class="col col9 last">
  <div id="discussion-list" class="row clearfix">
    <header><h2>Last discussions</h2></header>
    <%= render 'discussions/form' %>
    <% @discussions.sort_by{|d| d.get_last_message_date}.reverse.each do |discussion| %>
        <%= link_to discussion, :class=>"message-link" do %>
            <article class="message-item item">
              <p class="author-date">Last message : <%= discussion.get_last_message_date.to_time.strftime('%e %B %Y at %H:%M')%></p>
              <p class="message">
                <strong>
                    <%= truncate(discussion.get_destination_names.join(", "), length: 100, omission: ' ...and more', separator: ' ') %>
                </strong>
              </p>
            </article>
        <% end %>
    <% end %>
  </div><!-- #discussion-list -->
  <!--<div class="row clearfix">
    <div id="more-button" ><a href="#">Show more</a></div>
  </div>--><!-- .row -->
</div><!-- #content -->