<% content_for :sidebar do %>
    <p></p>
<% end %>

<div id="discussion-list" class="row clearfix">
  <header><h2>
    todo, get, user, list, ... and more
  </h2></header>

  <%= render 'messages/form' %>

  <%= render @messages %>

</div><!-- #discussion-list -->