<div id="content" class="col col9 last">
  <div id="discussion-list" class="row clearfix">
    <header><h2>Search in promotions, users, ...</h2></header>
    <%= render 'search/form' %>


    <article class="list-title item">
      <p class="message"><strong>Promotions</strong></p>
    </article>
    <%= render @promotions %>

    <article class="list-title item">
      <p class="message"><strong>Users</strong></p>
    </article>
    <%= render @users %>
  </div>
</div>
