<% provide(:title, 'Search') %>

<div id="content" class="col col9 last">
  <div id="discussion-list" class="row clearfix">
    <header><h2>Search in promotions, users, ...</h2></header>
    <%= render 'search/form' %>

    <% if @search_active %>
        <%= render(partial: 'search/resultblock', locals: {list: @promotions, entity: 'Promotions'} ) %>

        <%= render(partial: 'search/resultblock', locals: {list: @users, entity: 'Users'} ) %>
    <% end %>
  </div>
</div>
