<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<h1>Hello <%= @user.name %></h1>
		<p>
			Welcome to Back-To-School!
		</p>
		<p>
			Follow this link for the inscription: <%= @url %>.
		</p>
		<p>
			Thanks for joining and have a great day!
		</p>
	</body>
</html>
