<% content_for :sidebar do %>
<% end %>

<div id="content" class="col col9 last">
  <div id="discussion-list" class="row clearfix">
    <header><h2><%= @promotion.name %></h2></header>
    <%= render @students %>
  </div>
</div>