<header id="site-header" class="row clearfix">
  <div id="logo" class="col col2 first"><h1><a href="#">Back to school</a></h1></div>
  <!-- #logo -->
  <nav id="top-navigation" class="col col8">
    <ul>
      <li><a class="active">Home</a></li>
      <li><a href="#">Discussions</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Search</a></li>
    </ul>
  </nav>
  <!-- #top-navigation -->
  <div id="user-action" class="col col2 last">
    <% if user_signed_in? %>
        <%= link_to('Profile', destroy_user_session_path, :method => :delete) %>
    <% end %>
  </div>
  <!-- #user-action -->
</header>