<div id="notifications">
  <!-- These paragraphe are very important (especially for the devise gem to inform the user) -->
  <p class="notice"><%= notice %></p>

  <p class="alert"><%= alert %></p>
</div>